.pending-request-container {
	
	margin-top: 25px;
	padding:50px 25px;
	background:#f5f5f5;

}

.pending-request .photo {
	width: 45%;
	float:left;
}

.pending-request .detail-info {
	width: 55%;
    float: left;
}

.pending-request .data-container {
	padding:15px 25px;
}

.pending-request {
	position: relative;
	margin-bottom:30px !important;
}

.pending-request:after {

	content: "";
    display: block;
    clear: both;
}

.pending-request .delete-request-container,
.pending-request .reset-text-container {
	position: relative;
    z-index:1;
}

.pending-request .delete-request-button,
.pending-request .reset-text-button {
	display: block;
}

.pending-request .delete-request {
	position: absolute !important;
	right: 0;
}

.pending-request .reset-text {
	position: absolute !important;
	right: 50px;
}

.pending-request .toolbar {
	width:55%;
	display:inline-block;
	background: #e8e8e8;
	text-align: center;
	position: absolute;
    right: 0;
    bottom: 0;
}

.pending-request .toolbar .button {
	margin: 10px 5px;
	min-width: auto !important;
}

.pending-request .toolbar .button span {
	padding: 0 6px !important;
}

.pending-request .toolbar .button.udpate {
	margin-right:20px;
}

.pending-request .toolbar .button.approve {
	margin-left:20px;
}

.pending-request-dialog.disabled {
	pointer-events: none;
}
