.detail-card {
	padding-top: 40px;
	background: #ffffff;
}

.detail-card:after {

	content: "";
    display: block;
    clear: both;
}

.detail-card .left-col {
	width:60%;
	float: left;
}

.detail-card .right-col {
	width:40%;
	float: left;

}

.modal .detail-card {
    padding-top: 0;
    border-radius: 5px;
}

.modal .detail-card .right-col {
	overflow-y: scroll;
}

.detail-card .photo {
	width:100%;
	min-height: 350px;
	padding: 20px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: relative;
}

.modal .detail-card .photo {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.detail-card .detail-info {
	margin: 0 auto;
	width:100%;
	height: auto;
	outline: none;
	padding-top: 20px;
}

.detail-card .data-container {
	padding:15px 25px;
}

.detail-card .data-container .title {
	color: #9E9E9E;
	font-size: 90%;
}

.detail-card .data-container .text {
	margin-bottom:10px;
}

.detail-card .data-container .text:last-child {
	margin-bottom:0;
}

.detail-card .data-container .tag-cloud a {
	cursor: pointer !important;
}

.detail-card .data-container .chip {
	display: inline-block !important;
	margin-right: 5px !important;
	margin-bottom: 5px !important;
	cursor: pointer !important;
}

.detail-card hr {
	border-top: 1px solid #ddd !important;
	background: none !important;
}

.detail-card hr.unloaded {
	display: none;
}

