html, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
	margin:0;
	background: #f5f5f5;
}

/* this forces the body background color to fill the screen when there is no content */

#app {
	position: absolute;
	bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.app_bar {
	position: fixed !important;
	top:0;
}

.app_bar .logo {
	width:90px;
	height:26px;
	margin-top: -4px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-10 {
	margin-top:10px;
}

.main-container {
	padding-top:25px;
}

.create-button {
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 1;
}

@media (min-width: 768px) {

	.create-button {
		right: 50px;
		bottom: 50px;
	}

}