html, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
	margin:0;
	background: #f5f5f5;
	min-height: 100%;
}

a {
	color: #ab6817;
}
a:hover {
	color: #885211;
}

.main .app_bar {
	background: #ffffff !important;
}

#app.loading {
	display: none;
}

#app .main-container {
	min-height: 100vh;
}

.app_bar {
	position: fixed !important;
	top:0;
}

.app_bar .logo {
	width:90px;
	height:26px;
	margin-top: -4px;
}

.app_bar .mobile-logo {
	width:40px;
	height:40px;
	margin-top: -4px;
}

.main .app_bar .login-button svg {
	fill: #616161 !important;
}

.main .app_bar .profile-page-button img {
	height: auto !important;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-10 {
	margin-top:10px;
}

.main .intro {
	padding-top:80px;
}

.main-container {
	padding-top:25px;
}

.main-container.blank {
	text-align: center;
}

.create-button {
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 1;
}

.progress-bar {
	visibility: hidden;
}

.progress-bar.show {
	visibility: visible;
}

.drip-tab .drip-powered-by {
	display: none;
}

footer {
	background: #E0E0E0;
}

.footer {
	margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 40px 0;
}

.footer p {
	margin: 0;
}

.snackbar {
	text-align: center;
}

em {
	color: #9a8973;
}

.mobile-info-page-button,
.mobile-profile-page-button {
	display: none !important;
}

@media (max-width: 767px) {
  	.main .app_bar {
		position: relative !important;
		padding-left:10px !important;
		display: block !important;
	}

	.footer {
		margin-top:0;
	}

	.main .intro {
		padding:0 25px;
	}

	.main .app_bar .info-page-button,
	.main .app_bar .profile-page-button {
		display: none !important;
	}

	.mobile-info-page-button,
	.mobile-profile-page-button {
		display: block !important;
	}

	.main .app_bar .more-menu {
		position: absolute !important;
		top: 8px;
		right: 0;
	}

}

@media (max-width: 849px) {
	.drip-tab-container {
		display: none;
	}
}

@media (max-width: 768px) {
	.app_bar .logo {
		display: none;
	}
}

@media (min-width: 768px) {

	.app_bar .mobile-logo {
		display: none;
	}

	.create-button {
		right: 50px;
		bottom: 50px;
	}

	.main .intro {
		padding:80px 25px 0;
	}

	.main .app_bar .more-menu {
		display: inline-block;
	}

}