.modal {
	position: fixed;
	top: 64px;
	right: 5%;
	bottom: 64px;
	left: 5%;
	box-shadow: 0px 0px 150px 130px rgba(0, 0, 0, 0.5);
	overflow: auto;
	background: #ffffff;
	z-index:1200;
}

.modal .uk-grid-margin {
	margin-top:0;
}

.close-modal-container {
	position: relative;
}

.close-modal {
	position: absolute;
	right: 0;
}

.row {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;
}

.photo {

	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 

    padding: 10px;
    margin: 10px;

    background-color: green;
    border: 1px solid red;
    text-align: center;

}

.photo img {
	max-width: 100%;
}


