.results-well-container {
	width:100%;
	position: relative;
	margin-bottom: 60px;
}

.results-well-container .uk-grid {
	padding: 0 25px 0;
}

.results-well-container .loader {
	position: relative;
	width: 40px;
    height: 40px;
    margin: 20px auto 0;
}


.hairpiq-paper-container {
	margin-bottom: 25px;
}

.hairpiq-paper {
	overflow: hidden;
}

.hairpiq-paper hr {
	border-top: 1px solid #ddd !important;
	background: none !important;
}

.hairpiq-data {
	padding: 7px 10px;
}

.hairpiq-data .title {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	color: #9E9E9E;
	word-break: break-all;
}

.hairpiq-data .text {
	display: inline-block;
	width:60%;
	vertical-align: top;
	word-break: break-all;
}

.hairpiq-data:last-child {
	padding-bottom: 12px;
}

.results-well-container .uk-alert-success {
   
	text-align: center;
	border-radius: 2px;
	border: 1px solid #ded9d9;
	padding:25px;

}

.results-well-container .survey-button {
    color: #fff !important;
}

.results-well-container .dashed {
	border-bottom: 1px dashed #bdbdbd !important;
    background-color: #fff !important;
}

.results-well-container .hairpiq-paper .loader {
	margin: 0 !important;
	width: 48px;
    padding: 12px;
    float: left;
    text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) {

	.hairpiq-data .title,
	.hairpiq-data .text {
		display: block;
		width: auto;
	}

}

@media (max-width:767px) {

	.results-well-container .loader {
		margin-top: 60px;
		margin-bottom: 80px;
	}

	.results-well-container .uk-alert-success {
		margin-bottom: 60px;
	}
}

@media (min-width: 768px) {
	
	.hairpiq-data .title {
		font-size: 85%;
	}

	.hairpiq-data .text {
		font-size: 95%;
	}

}