.results-well-container {
	width:100%;
	position: relative;
	padding-top:15px;
	padding-bottom: 25px;
}

.results-well-container .uk-grid {
	padding: 0 25px 0;
}

.results-well-container .loader {
	position: relative;
	width: 40px;
    height: 40px;
    margin: 20px auto 0;
}


.hairpiq-paper-container {
	margin-bottom: 25px;
}

.hairpiq-paper {
	overflow: hidden;
}

.hairpiq-data {
	padding: 7px 10px;
}

.hairpiq-data .title {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	color: #9E9E9E;
	word-break: break-all;
}

.hairpiq-data .text {
	display: inline-block;
	width:60%;
	vertical-align: top;
	word-break: break-all;
}

.hairpiq-data:last-child {
	padding-bottom: 12px;
}

@media (min-width: 480px) and (max-width: 767px) {

	.hairpiq-data .title,
	.hairpiq-data .text {
		display: block;
		width: auto;
	}

}

@media (min-width: 768px) {
	
	.hairpiq-data .title {
		font-size: 85%;
	}

	.hairpiq-data .text {
		font-size: 95%;
	}

}