.search-bar {
	height: 43px !important;
	background: #eeeeee !important;
	border-radius: 5px;
}

.search-bar.focused {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.search-bar input {
	width:90% !important;
	padding-left:25px !important;
}

@media (max-width: 767px) {
  .search-bar-container {
  	margin-left: 5%;
  	position: relative;
  }

  .search-bar input {
  	width: 65%;
  }

}

@media (min-width: 768px) {
	.search-bar-container {
	  	position: fixed;
	  	z-index: 1100;
	  	top: 11px;
	    left: 150px;
	    right: 150px;
  	}
}

.search-bar label,
.search-bar hr {
	display: none;
}

.search-button {
	position: absolute !important;
    top: 0;
	right: 20px;
    height: 43px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

@media (min-width: 768px) {
	.search-button {
		right: -2px;
	}
}

.search-button .icon {
	width:35px !important;
	height:35px !important;
	fill: #ffffff !important;
}