.settings-page {
	margin-bottom:70px;
}
.settings-page .content-container {
	margin-top: 12px;
	padding: 50px;
}

.settings-page .content {
	max-width: 500px;
	margin: 0 auto;
}

.settings-page .update-button,
.settings-page .reset-password-button,
.settings-page .delete-profile-button {
	border-radius: 5px !important;
	margin-top: 25px !important;
    width: 256px;
}

.settings-page .delete-profile-button {
	color: #fff !important;
}

.settings-page .delete-profile-button:hover {
	color: #212121 !important;
}

.settings-page .update-button.disabled,
.settings-page .reset-password-button.disabled {
	opacity: .5;
}

.settings-page .loader {
	width: 256px;
    text-align: center;
    margin-top: 25px;
}

.settings-page .content.user-data {
	padding-bottom: 50px;
}

.settings-page .dashed {
	border-bottom: 1px dashed #bdbdbd !important;
    background-color: #fff !important;
    margin-bottom: -10px !important;
}

.settings-page .content.reset-password,
.settings-page .content.delete-profile {
	padding-top: 25px;
}

.settings-page .reset-password-result-message {
	margin-top: 25px;
}

@media (max-width: 767px) {
	
	.settings-page {

	    margin-top: -70px;
	    margin-bottom: 0;

	}

	.settings-page .update-button {
		width: 100%;
	}

	.settings-page .loader {
		width: 100%;
	}

}

@media (min-width: 768px) {
	
	.settings-page .content-container {
		margin-top: 80px;
	}

	.settings-page .content {
		margin: 0 auto;
	}

}